#footer{
	position:fixed;
	height: 30px;
	display:block;
	width: 200px;
	background: #333;
	z-index:9;
	text-align:center;
	color: #f2f2f2;
	padding: 10px 0 0 0;
	bottom:0px;
}

.tooltip {
  position: absolute;
  text-align: left;
  width: 100px;
  height: 50px;
  padding: 2px;
  font: 12px sans-serif;
  background: lightsteelblue;
  border: 0px;
  border-radius: 8px;
  pointer-events: none;
}

.legend {
  font-size: 13px;
  text-shadow: 2px 2px 2px #aaa;
}

body {
  font-family: 'Raleway', sans-serif;
}

svg {
	display: block;
	margin: auto;
}
