#footer{
	position:fixed;
	height: 30px;
	display:block;
	width: 200px;
	background: #333;
	z-index:9;
	text-align:center;
	color: #f2f2f2;
	padding: 10px 0 0 0;
	bottom:0px;
}

.tooltip {
  position: absolute;
  text-align: left;
  height: 40px;
  padding: 8px;
  font-size: 10.5px;
  font-family: 'Oxigen', sans-serif;
  color: #595959;
  background: #e6e6e6;
  border-style: solid;
  border-width: 1px;
  border-color: #808080;
  border-radius: 2.5px;
  pointer-events: none;
}

.legend {
  font-size: 13px;
  text-shadow: 2px 2px 2px #aaa;
}

body {
  font-family: 'Raleway', sans-serif;
}

svg {
	display: block;
	margin: auto;
}
